<div style="position: fixed; top: 50%; left: 20%; background-color: bisque; padding: 10px;">
    버튼 1 - sample 입니다.
</div>
<div style="position: fixed; top: 60%; left: 20%; background-color: bisque; padding: 10px;">
    버튼 2 - sample 입니다.
</div>
<div style="position: fixed; top: 70%; left: 20%; background-color: bisque; padding: 10px;">
    버튼 3 - sample 입니다.
</div>

<div style="position: fixed; top: 50%; right: 20%; background-color: greenyellow; padding: 10px;">
    버튼 1 - sample 입니다.
</div>
<div style="position: fixed; top: 60%; right: 20%; background-color: greenyellow; padding: 10px;">
    버튼 2 - sample 입니다.
</div>
<div style="position: fixed; top: 70%; right: 20%; background-color: greenyellow; padding: 10px;">
    버튼 3 - sample 입니다.
</div>

<div id="info">
    <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - GLTFLoader + compression extensions<br />
    <a href="https://sketchfab.com/3d-models/coffeemat-7fb196a40a6e4697aad9ca2f75c8b33d" target="_blank" rel="noopener">Coffeemat</a> by
    <a href="https://sketchfab.com/OFFcours1" target="_blank" rel="noopener">Roman Red</a>
</div>